img{

width: 200px;
height: 200px;
display: flex;
margin: 50px;
border: 3px solid;
}

.contenedor{
	height: 400px;
	width: 1000px;
	border: 1px solid;
	margin: 50px 50px;
	border-radius: 10px;
	background: lightgray;
}

